RewriteEngine On

# Quitar index.html
RewriteCond %{THE_REQUEST} \s/+(.*/)?index\.html(?:[\s?]|$) [NC]
RewriteRule ^index\.html$ /%1 [R=301,L]

# URL corta

# INSTITUCION

RewriteRule ^MensajeRectora/?$ moduls/institucion/MensajeRectora/index.html [L]
RewriteRule ^MisionVision/?$ moduls/institucion/MisionVision/index.html [L]
RewriteRule ^Organigrama/?$ moduls/institucion/Organigrama/organigrama.html [L]
RewriteRule ^Autoridades/?$ moduls/institucion/Autoridades/autoridades.html [L]
RewriteRule ^Estatuto/?$ moduls/institucion/Estatuto/estatuto.html [L]
RewriteRule ^Modelo-Pedagogico/?$ moduls/institucion/Modelo-Pedagogico/modeloPedagogico.html [L]
RewriteRule ^Codigo-Etica/?$ moduls/institucion/Codigo-Etica/codigoInstitucional.html [L]
RewriteRule ^Modelos/?$ moduls/institucion/Modelos/modelos.html [L]
RewriteRule ^CalidadPlanificacion/?$ assets/docs/institucion/CalidadPlanificacion/Aval1.pdf
RewriteRule ^Calidad-Planificacion/?$ moduls/institucion/Calidad-Planificacion/calidadPlanificacion.html [L]
RewriteRule ^Planificacion-Pedi/?$ moduls/institucion/Planificacion-Pedi/planificacionPedi.html [L]
RewriteRule ^Reglamentos/?$ moduls/institucion/Reglamentos/reglamentos.html [L]
RewriteRule ^Normativa/?$ moduls/institucion/Normativa/normativa.html [L]
RewriteRule ^Protocolos/?$ moduls/institucion/Protocolos/protocolos.html [L]

#SERVICIOS

RewriteRule ^Estado-Financiero/?$ moduls/Servicios/Estado-Financiero/estadoFinanciero.html [L]
RewriteRule ^Rendicion-Cuentas/?$ moduls/Servicios/Rendicion-Cuentas/rendicionCuentas.html [L]
RewriteRule ^Remuneracion-Mensual/?$ moduls/Servicios/Remuneracion-Mensual/remuneracionMensual.html [L]
RewriteRule ^Aranceles/?$ moduls/Servicios/Aranceles/aranceles.html [L]
RewriteRule ^Balances-Generales/?$ moduls/Servicios/Balances-Generales/balanceGeneral.html [L]
RewriteRule ^Cumplimiento-Tributario/?$ moduls/Servicios/Cumplimiento-Tributario/cumplimientoTributario.html [L]
RewriteRule ^Balances-Auditados/?$ moduls/Servicios/Balances-Auditados/balancesAuditados.html [L]

#OFERTA ACADEMICA

RewriteRule ^ECSOS/?$ moduls/gestionAcademica/ECSOS/escuelaConstruccionExtraccion.html [L]
RewriteRule ^ECAVET/?$ moduls/gestionAcademica/ECAVET/escuelaVeterinaria.html [L]
RewriteRule ^ECSET/?$ moduls/gestionAcademica/ECSET/escuelaAdministracionIndustria.html [L]

#SERVICIOS

RewriteRule ^Bienestar-Institucional/?$ moduls/subMenu/Bienestar-Institucional/bienestarInstitucional.html [L]
RewriteRule ^Equipo-Conectados/?$ moduls/noticiasContactos/Equipo-Conectados/contactanos.html [L]

#FORMATOS

RewriteRule ^Formatos/?$ moduls/Formatos/Solicitudes.html [L]

#ADMISIONES

RewriteRule ^Por-Que-Elegirnos/?$ moduls/admisiones/Por-Que-Elegirnos/porQueElegirnos.html [L]
RewriteRule ^Proceso-Admision/?$ moduls/admisiones/Proceso-Admision/procesoAdmision.html [L]

#VINCULACIÓN CON LA SOCIEDAD

RewriteRule ^Vinculacion-con-la-Sociedad/?$ moduls/subMenu/vinculacionSociedad//Vinculacion-con-la-Sociedad/vinculacionSociedad.html [L]
RewriteRule ^Practicas-Preprofesionales/?$ moduls/subMenu/vinculacionSociedad//Practicas-Preprofesionales/practicasPreprofesionales.html [L]
RewriteRule ^Relaciones-InterInstitucionales/?$ moduls/subMenu/vinculacionSociedad//Relaciones-InterInstitucionales/RelacionesInterinstitucionales.html [L]
RewriteRule ^Presencia-en-la-Comunidad/?$ moduls/subMenu/vinculacionSociedad//Presencia-en-la-Comunidad/PresenciaComunidad.html [L]
RewriteRule ^Vinculacion/?$ assets/docs/Vinculacion//Modelo_Gestion_IDIVS_2024_2028.pdf [L]

#PRACTICAS PRE-PROFESIONALES

RewriteRule ^PracticasPreprofesionales/?$ assets/docs/PracticasPreprofesionales//REGLAMENTO-PRACTICAS-PRE-PROFESIONALES.pdf [L]

# RELACIONES INTERINSTITUCIONALES

RewriteRule ^Relaciones-Inter-Institucionales/?$ assets/docs/Relaciones-Inter-Institucionales//ISTS-GIDIVS-07-004-CONVENIO-MARCO-FORMATO.pdf [L]

# INVESTIGACIÓN
RewriteRule ^Investigacion/?$ moduls/subMenu/Investigacion//investigacion.html [L]
RewriteRule ^MODELO_INVESTIGACION/?$ assets/docs/Investigacion/MODELO_INVESTIGACION/MODELO_DE_GESTION_DE_LA_INVESTIGACION_DESARROLLO_INNOVACION.pdf [L]
RewriteRule ^REGLAMENTO_DE_INVESTIGACION/?$ assets/docs/Investigacion/REGLAMENTO_DE_INVESTIGACION/REGLAMENTO_DE_INVESTIGACION_DESARROLLO_E_INNOVACION.pdf [L]
RewriteRule ^DOMINIOS_ACADEMICOS/?$ assets/docs/Investigacion/DOMINIOS_ACADEMICOS/Dominios_Academicos_de_Investigacion_2024_2028.pdf [L]
RewriteRule ^PLANIFICACION_GESTION_INVESTIGACION/?$ assets/docs/Investigacion/PLANIFICACION_GESTION_INVESTIGACION/Planificacion_gestion_Investigacion_2025.pdf [L]
RewriteRule ^ESTUDOS_EM_CIENCIAS_AGRARIAS/?$ assets/docs/Investigacion/ESTUDOS_EM_CIENCIAS_AGRARIAS/Estudio_em_Ciencias_agrarias.pdf [L]
RewriteRule ^CONGRESO_ITPS_ODS/?$ assets/docs/Investigacion/CONGRESO_ITPS_ODS/ITPS_ODS.pdf [L]
RewriteRule ^HUMANIDADES_E_CIENCIAS_SOCIAIS/?$ assets/docs/Investigacion/HUMANIDADES_E_CIENCIAS_SOCIAIS/humanidades-e-ciencias-sociais-perspectivas.pdf [L]
RewriteRule ^TOPOGRAFIA_SUBTERRANEA/?$ assets/docs/Investigacion/TOPOGRAFIA_SUBTERRANEA/LIBRO_TOPOGRAFIA_SUBTERRÁNEA.pdf [L]

#CALENDARIOS

RewriteRule ^CALENDARIO_ACADEMICO/?$ assets/docs/Calendarios/CALENDARIO_ACADEMICO/CALENDARIO_ACADEMICO_2025_2026.pdf [L]
RewriteRule ^CALENDARIO_DE_TITULACION/?$ assets/docs/Calendarios/CALENDARIO_DE_TITULACION/CRONOGRAMA_PROYECTOS_TITULACION.pdf [L]
RewriteRule ^CALENDARIO_INVESTIGACION/?$ assets/docs/Calendarios/CALENDARIO_INVESTIGACION/PLANIFICACION_GESTION_INVESTIGACION_2026.pdf [L]
RewriteRule ^CALENDARIO_VINCULACION/?$ assets/docs/Calendarios/CALENDARIO_VINCULACION/CRONOGRAMA_VINCULACION_SOCIEDAD_2025.pdf [L]
RewriteRule ^CALENDARIO_PRACTICAS_PREPROFESIONALES/?$ assets/docs/Calendarios/CALENDARIO_PRACTICAS_PREPROFESIONALES/CRONOGRAMA_PRACTICAS_PREPROFESIONALES_2025_2026.pdf [L]


#NOTICIAS

RewriteRule ^Noticias/?$ moduls/noticiasContactos/Noticias//noticias.html [L]

#PLATAFORMA

RewriteRule ^Plataformas/?$ moduls/Plataformas//plataformas.html [L]

# MENÚ SECUNDARIO 


RewriteRule ^Procesos-Academicos/?$ moduls/subMenu/Procesos-Academicos//procesosAcedemicos.html [L]

RewriteRule ^Titulacion/?$ moduls/subMenu/Titulacion//titulacion.html [L]
RewriteRule ^Talento-Humano/?$ moduls/subMenu/Talento-Humano//TalentoHumano.html [L]
RewriteRule ^Evaluacion-Docente/?$ moduls/subMenu/Evaluacion-Docente//evaluacionDocente.html [L]

# REDIRIGIR PDF ¿QUIENES SOMOS?

RewriteRule ^POA/?$ assets/docs/POA/PLAN_OPERATIVO_ANUAL_2025.pdf [L]
RewriteRule ^modeloPedagogico/?$ assets/docs/institucion/modeloPedagogico/MODELO_PEDAGOGICO.pdf [L]
RewriteRule ^Autoevaluacion/?$ assets/docs/Autoevaluacion/INFORME_FINAL_AUTOEV_NOV_2024.pdf [L]
RewriteRule ^PEDI/?$ assets/docs/Servicios/PEDI/PLAN_ESTRATEGICO_DE_DESARROLLO_INSTITUCIONAL_2024_2028.pdf [L]
RewriteRule ^estadoFinanciero/?$ assets/docs/Servicios/estadoFinanciero/ESTADO_FINANCIERO.pdf [L]
RewriteRule ^rendicionCuentas/?$ assets/docs/Servicios/rendicionCuentas/UX_INFORME_DE_RENDICION_DE_CUENTAS_2024.pdf [L]
RewriteRule ^remuneracionMensual/?$ assets/docs/Servicios/remuneracionMensual/ESCALA_DE_REMUNERACION.pdf [L]
RewriteRule ^IESS/?$ assets/docs/Servicios/IESS/CUMPLIMIENTO-IESS.pdf [L]
RewriteRule ^CumplimientoTributario/?$ assets/docs/Servicios/CumplimientoTributario/Certificado_Cumplimiento_Tributario_2026.pdf [L]
RewriteRule ^bancesAuditados/?$ assets/docs/Servicios/bancesAuditados/INFORME-DE-AUDITORIA-2024-1.pdf [L]
RewriteRule ^Protocolo_Psicopedagogico/?$ assets/docs/institucion/Protocolo_Psicopedagogico/PROTOCOLO_ATENCION_PSICOPEDAGOGICA_ESTUDIANTES.pdf [L]
RewriteRule ^Protocolo_de_integracion/?$ assets/docs/institucion/Protocolo_de_integracion/PROTOCOLO_INTEGRACION_ESTUDIANTES.pdf [L]

# REDIRIGIR MALLAS CURRICULARES DE OFERTA ACADÉMICA 
#ECSOS

RewriteRule ^TOPO/?$ assets/docs/gestionAcademica/TOPO/MALLATOPOGRAFIA.pdf [L]
RewriteRule ^MINERIA/?$ assets/docs/gestionAcademica/MINERIA/MALLA_MINERIA.pdf [L]
RewriteRule ^SEGURIDAD_E_HIGIENE_DEL_TRABAJO/?$ assets/docs/gestionAcademica/SEGURIDAD_E_HIGIENE_DEL_TRABAJO/MALLA_SEGURIDAD_HIGIENE_TRABAJO.pdf [L]
RewriteRule ^SEGURIDAD_PREVENCION_RIESGOS_LABORALES/?$ assets/docs/gestionAcademica/SEGURIDAD_PREVENCION_RIESGOS_LABORALES/MALLA_PREVENCION_RIESGOS_LABORALES.pdf [L]

#ACAVET

RewriteRule ^ENFERMERIA_VETERINARIA/?$ assets/docs/gestionAcademica/ENFERMERIA_VETERINARIA/MALLA_ENFERMERIA_VETERINARIA.pdf [L]
RewriteRule ^PRODUCCION_ANIMAL/?$ assets/docs/gestionAcademica/PRODUCCION_ANIMAL/MALLA_PRODUCCION_ANIMAL.pdf [L]

# ECSET

RewriteRule ^ADMINISTRACION/?$ assets/docs/gestionAcademica/ADMINISTRACION/MALLA_ADMINISTRACION.pdf [L]
RewriteRule ^MARKETING_DIGITAL/?$ assets/docs/gestionAcademica/MARKETING_DIGITAL/MALLA_MARKETING_DIGITAL_2026.pdf [L]
RewriteRule ^MARKETING_DISEÑO_MULTIMEDIA/?$ assets/docs/gestionAcademica/MARKETING_DISEÑO_MULTIMEDIA/MALLA_MARKETING_DIGITAL_DISEÑO_MULTIMEDIA_2026.pdf [L]
RewriteRule ^VENTAS_CON_IA/?$ assets/docs/gestionAcademica/VENTAS_CON_IA/Malla_de_ventas_IA.pdf [L]
RewriteRule ^INSTRUMENTACION_QUIRURGICA/?$ assets/docs/gestionAcademica/INSTRUMENTACION_QUIRURGICA/MALLA_INSTRUMENTCION_QUIRURGICA.pdf [L]
RewriteRule ^EDUCACION_BASICA/?$ assets/docs/gestionAcademica/EDUCACION_BASICA/MALLA_EDUCACION_BASICA.pdf [L]
RewriteRule ^EDUCACION_BILINGUE/?$ assets/docs/gestionAcademica/EDUCACION_BILINGUE/MALLA_EDUCACION_BILINGUE.pdf [L]

# BIENESTAR INSTITUCIONAL 

RewriteRule ^GUIA_DEL_REGLAMENTO_BECAS/?$ assets/docs/BienestarEstudiantil/GUIA_DEL_REGLAMENTO_BECAS/Guía_de_Becas_Ayudas_Economicas.pdf [L]
RewriteRule ^FICHA_SOCIOECONOMICA/?$ assets/docs/BienestarEstudiantil/FICHA_SOCIOECONOMICA/FICHA_SOCIOECONOMICA_V1.pdf [L]

#PLANES DE IGUALDAD

RewriteRule ^PLAN_IGUALDAD_2024/?$ assets/docs/BienestarEstudiantil/Plan-Igualdad/PLAN_IGUALDAD_2024/PLAN_DE_IGUALDAD_2024.pdf [L]
RewriteRule ^PLAN_IGUALDAD_2025/?$ assets/docs/BienestarEstudiantil/Plan-Igualdad/PLAN_IGUALDAD_2025/PLAN_DE_IGUALDAD_2025.pdf [L]
RewriteRule ^PLAN_IGUALDAD_2026/?$ assets/docs/BienestarEstudiantil/Plan-Igualdad/PLAN_IGUALDAD_2026/PLAN_DE_IGUALDAD_2026.pdf [L]

#TITULACION

RewriteRule ^REGLAMENTO_TITULACION/?$ assets/docs/Titulacion/REGLAMENTO_TITULACION/Reglamento_Titulacion.pdf [L]
RewriteRule ^CRONOGRAMA_TRABAJO_TITULACION/?$ assets/docs/Titulacion/CRONOGRAMA_TRABAJO_TITULACION/Cronograma_trabajo_titulacion.pdf [L]
RewriteRule ^PLAN_TRABAJO_TITULACION/?$ assets/docs/Titulacion/PLAN_TRABAJO_TITULACION/Plan_Trabajo_Titulacion.docx [L]
RewriteRule ^REGISTRO_HORAS_TUTORIAS/?$ assets/docs/Titulacion/REGISTRO_HORAS_TUTORIAS/Registro_horas_tutorias_Titulacion.xlsx [L]
RewriteRule ^FORMATO_TRABAJO_TITULACION/?$ assets/docs/Titulacion/FORMATO_TRABAJO_TITULACION/Formato_trabajo_titulacion.docx [L]
RewriteRule ^CALENDARIO_EXAMEN_COMPLEXIVO/?$ assets/docs/Titulacion/CALENDARIO_EXAMEN_COMPLEXIVO/Cronograma_examen_complexivo.pdf [L]

#TALENTO HUMANO 

RewriteRule ^Induccion/?$ assets/docs/TalentoHumano/Induccion/Bienvenido_familia_Superarse.pdf [L]

#UNIDAD DE SEGURIDAD Y SALUD OCUPACIONAL 

RewriteRule ^MATRIZ_DE_RIESGO/?$ assets/docs/SeguridadyPlanOcupacional/MATRIZ_DE_RIESGO/Matriz_de_Riesgos.pdf [L]
RewriteRule ^PLAN_DE_EMERGENCIA/?$ assets/docs/SeguridadyPlanOcupacional/PLAN_DE_EMERGENCIA/Plan_de_emergencia.pdf [L]
RewriteRule ^REGLAMENTO/?$ assets/docs/SeguridadyPlanOcupacional/REGLAMENTO/Reglamento.pdf [L]

# FORMATOS 



# Ocultar moduls
RewriteCond %{THE_REQUEST} \s/+(.*/)?moduls/([^\s?]+) [NC]
RewriteRule ^moduls/(.*)$ /%1$1 [R=301,L]


RewriteCond %{REQUEST_URI} !/(moduls|assets)(/|$) [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ moduls/$1 [L]


DirectoryIndex index.html

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php82” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php82 .php .php8 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
